<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body style="text-align: center">

<h1>Cars:</h1>
<div th:if="${count}">
    <div th:each="car, iterStat : ${#numbers.sequence(0, count-1)}">
        <div th:if="${iterStat.index &lt; listCars.size()}">
            <h2 th:text="${listCars[iterStat.index].getModel()}"/>
        </div>
    </div>
</div>
<div th:unless="${count}">
    <div th:each="cars : ${listCars}">
        <h2 th:text="${cars.getModel()}"/>
    </div>
</div>









</body>
</html>